{% extends "login_base.html" %}
{% block body%}
   <div class="container">
       <form class="form-signin" action="{{ url_for('login') }}" method=post> 
        <h2 class="form-signin-heading">entVoice</h2>
        <label for="inputEmail" class="sr-only">Username / Tel no.</label>
        <input type="tel" id="input" name ="username" class="form-control" placeholder="10 digit Tel no." required="" autofocus="">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required="">
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
	  {% if error %}<p>{{ error }}</p>{% endif %}
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
         <a href="{{ url_for('signup') }}">Sign Up today</a>
      </form>

    </div> <!-- /container -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="./login/ie10-viewport-bug-workaround.js"></script>
{% endblock %}


